/* Start Variables */
:root {
    --main-color: #E09F3E;
    --secondary-color: #335C67;
    --section-background: #f6f6f6;
    --main-paragraph-color: #777;
    --special-heading-color: #ebeced;
    --section-padding: 60px;
    --transition-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-scroll-behaivor: smooth;
    -moz-scroll-behaivor: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading {
    color: var(--special-heading-color);
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px 0 0;
        font-size: 14px;
    }
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
/* End Components */
/* Start Header */
.header {
    padding: 14px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    color: var(--secondary-color);
}
.header .logo .i {
    color: var(--main-color);
}
.header .links {
    position: relative;
}
.header .links .icon {
    position: relative;
    width: 40px;
    height: 20px;
}
.header .links:hover .icon span:nth-of-type(2) {
    left: 0;
    background-color: var(--secondary-color);
}
.header .links .icon span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 80%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.header .links .icon span:first-of-type {
    top: 1px;
}
.header .links .icon span:nth-of-type(2) {
    top: 7px;
    left: 20%;
    background-color: var(--main-color);
    transition: var(--transition-duration);
}
.header .links .icon span:last-of-type {
    top: 13px;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    min-width: 200px;
    border-radius: 0 0 10px 10px;
    right: 20%;
    top: calc(100% + 15px);
    z-index: 1;
    display: none;
}
.header .links ul::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    top: -19px;
    right: 8px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: var(--secondary-color);
    font-weight: 400;
    transition: var(--transition-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
    font-weight: bold;
    color: var(--main-color);
}
.header .links ul li:not(:last-child) a {
    border-bottom: 0.2px solid var(--secondary-color);
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 62.5px);
    position: relative;
    background-attachment: fixed;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    color: var(--main-paragraph-color);
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    padding-top: calc(var(--section-padding) + 35px);
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
} 
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: var(--main-paragraph-color);
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: '';
    position: absolute;
    height: calc(100% + 93px);
    width: 100px;
    top: -50px;
    right: 0;
    background-color: var(--secondary-color);
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
    height: 347px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
    padding-top: var(--section-padding);
}
.portfolio .portfolio-content .card {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(1 1 1 / 5%);
    border-radius: 10px;
    transition: var(--transition-duration);
}
.portfolio .portfolio-content .card:hover {
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .card:hover {
        transform: none;
    }
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: var(--main-paragraph-color);
    line-height: 1.6;
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .card .info{
        text-align: center;
    }
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) * 2);
}
.about .about-content {
    margin-top: calc(var(--section-padding) + 40px) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about-content .image {
        margin: 0 auto var(--section-padding);
    }
}
.about .about-content .image::before {
    content: '';
    position: absolute;
    background-color: var(--special-heading-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    color: var(--main-paragraph-color);
    line-height: 2;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
        letter-spacing: -2px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--special-heading-color);
    text-align: center;
    padding: 20px 10px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }
}
/* End Footer */